### Heroes Of Pymoli Data Analysis
1. Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

2. Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).

3. The Most popular and the most profitable item is: Oathbreaker, Last Hope of the Breaking Storm. The item was purchesd 12 times with total purchase $50.76.The second profitable items was Nirvana with total purchase $44.10, and the third was Fiery Glass Crusader with total purchase $41.22.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
TotalPlayers = purchase_data["SN"].value_counts().count()
TotalPlayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:

NumberofUniqueItems = purchase_data["Item ID"].value_counts().count()
NumberofPurchases = purchase_data["Purchase ID"].count()
AveragePrice = purchase_data["Price"].astype(float).mean()
TotalRevenue = purchase_data["Price"].astype(float).sum()
Summary_df = pd.DataFrame([
    {"Number of Unique Items": NumberofUniqueItems, 
     "Average Price": AveragePrice,
    "Number of Purchases": NumberofPurchases,
    "Total Revenue":TotalRevenue }   
])

Summary_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
Gender_df = purchase_data.groupby(["Gender"])
Gender_df6 = Gender_df.nunique()
Percent = (Gender_df6["SN"]/TotalPlayers )*100
Gender_df2 = pd.DataFrame(
    {"Total Count": Gender_df6["SN"], 
     "Percentage of Players": Percent
   }   
)

Gender_df2

                       Total Count  Percentage of Players
Gender
Female                          81              14.062500
Male                           484              84.027778
Other / Non-Disclosed           11               1.909722

In [5]:
pCount = Gender_df["Purchase ID"].count()
avrPrice = Gender_df["Price"].mean()
Totpp = Gender_df["Price"].sum()
TotPlayers = Gender_df2["Total Count"]
totpep = Totpp/TotPlayers

Gender_df9 = pd.DataFrame(
    {"Purchase Count": pCount, 
     "Average Purchase Price": avrPrice,
     "Total Purchase Value":Totpp,
     "Total Purchase per Person":totpep
   }   
)
Gender_df9

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
pCount = Gender_df["Purchase ID"].count()
avrPrice = Gender_df["Price"].mean()
Totpp = Gender_df["Price"].sum()
TotPlayers = Gender_df2["Total Count"]
totpep = Totpp/TotPlayers

Gender_df9 = pd.DataFrame(
    {"Purchase Count": pCount, 
     "Average Purchase Price": avrPrice,
     "Total Purchase Value":Totpp,
     "Total Purchase per Person":totpep
   }   
)
Gender_df9

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [8]:
gender_df = purchase_data[['Gender','SN','Price']]
clean_gender_df = gender_df.dropna(how = "any")
gender_df1 = clean_gender_df.groupby(['Gender'])
gender_df.head()

  Gender             SN  Price
0   Male        Lisim78   3.53
1   Male    Lisovynya38   1.56
2   Male     Ithergue48   4.88
3   Male  Chamassasya86   3.27
4   Male      Iskosia90   1.44

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [9]:
bins = [0,9,14,19,24,29,34,39,50]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data["col"] = pd.cut(purchase_data["Age"],bins,labels=labels)
Bin_df1 = purchase_data.groupby(["col"])
Bin_df6 = Bin_df1.nunique()
Percent3 = (Bin_df6["SN"]/TotalPlayers  )*100
Gen_df2 = pd.DataFrame(
    {"Total Count":  Bin_df6["SN"], 
     "Percentage of Players": Percent3
   }   
)
Gen_df2

       Total Count  Percentage of Players
col
<10             17               2.951389
10-14           22               3.819444
15-19          107              18.576389
20-24          258              44.791667
25-29           77              13.368056
30-34           52               9.027778
35-39           31               5.381944
40+             12               2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
pCount = Bin_df1["Purchase ID"].count()
avrPrice = Bin_df1["Price"].mean()
Totpp = Bin_df1["Price"].sum()
TotPlayers = Gen_df2["Total Count"]
totpep = Totpp/TotPlayers

Gen_df9 = pd.DataFrame(
    {"Purchase Count": pCount, 
     "Average Purchase Price": avrPrice,
     "Total Purchase Value":Totpp,
     "Total Purchase per Person":totpep
   }   
)
Gen_df9

,Purchase Count,Average Purchase Price,Total Purchase Value,Total Purchase per Person
col,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
Top_df = purchase_data.groupby(["SN"])
Top_df1 = Top_df.nunique()
tpCount = Top_df["Purchase ID"].count()
tavrPrice = Top_df["Price"].mean()
tTotpp = Top_df["Price"].sum()


Top_df2 = pd.DataFrame(
    {"Purchase Count":tpCount, 
     "Average Purchase Price":tavrPrice,
     "Total Purchase Value":tTotpp
   }   
)
Top_df3 = Top_df2.sort_values("Total Purchase Value", ascending=False)
Top_df3

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                   5                3.792000                 18.96
Idastidru52                 4                3.862500                 15.45
Chamjask73                  3                4.610000                 13.83
Iral74                      4                3.405000                 13.62
Iskadarya95                 3                4.366667                 13.10
Ilarin91                    3                4.233333                 12.70
Ialallo29                   3                3.946667                 11.84
Tyidaim51                   3                3.943333                 11.83
Lassilsala30                3                3.836667                 11.51
Chadolyla44                 3                3.820000                 11.46
Iri67                       3                3.790000                 11.37
Inguron55                   3                3.703333                 11.11
Siallylis44                 3                3.456667                 10.37
Saistyphos30                3                3.443333                 10.33
Phyali88                    3                3.433333                 10.30
Strithenu87                 3                3.393333                 10.18
Lisim78                     3                3.340000                 10.02
Haillyrgue51                3                3.166667                  9.50
Phistym51                   2                4.750000                  9.50
Lamil79                     2                4.645000                  9.29
Aina42                      3                3.073333                  9.22
Saesrideu94                 2                4.590000                  9.18
Arin32                      2                4.545000                  9.09
Rarallo90                   3                3.016667                  9.05
Baelollodeu94               2                4.515000                  9.03
Aelin32                     3                2.993333                  8.98
Lisopela58                  3                2.953333                  8.86
Saedaiphos46                3                2.943333                  8.83
Reunasu60                   2                4.410000                  8.82
Chanastnya43                3                2.940000                  8.82
...                       ...                     ...                   ...
Lirtim36                    1                1.330000                  1.33
Shidai42                    1                1.330000                  1.33
Philodil43                  1                1.290000                  1.29
Eyista89                    1                1.290000                  1.29
Mindilsa60                  1                1.280000                  1.28
Tyarithn67                  1                1.140000                  1.14
Aisur51                     1                1.140000                  1.14
Ilista82                    1                1.140000                  1.14
Jiskimsda56                 1                1.140000                  1.14
Aillyriadru65               1                1.100000                  1.10
Eryon48                     1                1.100000                  1.10
Iduelis31                   1                1.100000                  1.10
Yasur85                     1                1.100000                  1.10
Undjask33                   1                1.100000                  1.10
Lirtassa52                  1                1.090000                  1.09
Aelidru27                   1                1.090000                  1.09
Yalaeria91                  1                1.060000                  1.06
Aesurstilis64               1                1.030000                  1.03
Saida58                     1                1.030000                  1.03
Euthe35                     1                1.030000                  1.03
Hala31                      1                1.020000                  1.02
Qilalista41                 1                1.020000                  1.02
Frichjaskan98               1                1.020000                  1.02
Isurria36                   1                1.020000                  1.02
Eudanu84                    1                1.020000                  1.02
Ililsasya43                 1                1.020000                  1.02
Irilis75                    1                1.020000                  1.02
Aidai61                     1                1.010000                  1.01
Chanirra79                  1                1.010000                  1.01
Alo38                       1                1.000000                  1.00

[576 rows x 3 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [12]:
MP_df = purchase_data[['Item ID','Item Name','Price']]
MP_df1 = MP_df.groupby(['Item ID','Item Name'])
MP_df2 = pd.DataFrame(
    {"purchase count": MP_df1["Item ID"].count(), 
     "total purchase value":  MP_df1["Price"].sum()
   }   
)

MP_df3 = MP_df2.sort_values("purchase count", ascending=False)
MP_df3

,,purchase count,total purchase value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
145,Fiery Glass Crusader,9,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
82,Nirvana,9,44.10
19,"Pursuit, Cudgel of Necromancy",8,8.16
103,Singed Scalpel,8,34.80
75,Brutality Ivory Warmace,8,19.36
72,Winter's Bite,8,30.16
60,Wolf,8,28.32
59,"Lightning, Etcher of the King",8,33.84
37,"Shadow Strike, Glory of Ending Hope",8,25.28
34,Retribution Axe,8,17.76
92,Final Critic,8,39.04
53,Vengeance Cleaver,7,14.35
110,Suspension,7,10.08
7,"Thorn, Satchel of Dark Souls",7,9.31
71,Demise,7,11.27
117,"Heartstriker, Legacy of the Light",7,12.53
159,"Oathbreaker, Spellblade of Trials",7,21.56
85,Malificent Bag,7,12.25
164,Exiled Doomblade,7,11.41
141,Persuasion,7,22.33
78,"Glimmer, Ender of the Moon",7,30.80
102,Avenger,6,20.64
129,"Fate, Vengeance of Eternal Justice",6,9.24
93,Apocalyptic Battlescythe,6,11.82
54,Eternal Cleaver,6,15.00
3,Phantomlight,6,14.94
2,Verdict,6,14.88
40,Second Chance,6,15.12
...,...,...,...
81,Dreamkiss,2,7.22
6,Rusty Skull,2,7.40
18,"Torchlight, Bond of Storms",2,9.30
26,Unholy Wand,2,2.24
28,"Flux, Destroyer of Due Diligence",2,2.12
30,Stormcaller,2,4.42
158,"Darkheart, Butcher of the Champion",2,4.90
69,"Frenzy, Defender of the Harvest",2,3.96
132,Persuasion,2,6.66
63,Stormfury Mace,2,9.98
56,Foul Titanium Battle Axe,2,5.84
127,"Heartseeker, Reaver of Souls",2,7.84
48,"Rage, Legacy of the Lone Victor",2,4.96
125,Whistling Mithril Warblade,2,2.00
43,Foul Edge,2,7.08
115,Spectral Diamond Doomblade,2,4.08
33,Curved Axe,2,2.32
31,Trickster,2,3.10
118,"Ghost Reaver, Longsword of Magic",1,2.17
47,"Alpha, Reach of Ending Hope",1,3.58
42,The Decapitator,1,1.75
27,"Riddle, Tribute of Ended Dreams",1,3.30
126,Exiled Mithril Longsword,1,2.00
51,Endbringer,1,4.66
90,Betrayer,1,2.94
104,Gladiator's Glaive,1,1.93
23,Crucifer,1,1.99
180,Stormcaller,1,3.36
91,Celeste,1,4.17
134,Undead Crusader,1,4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [13]:
MP_df4 = MP_df2.sort_values("total purchase value", ascending=False)
MP_df4

,,purchase count,total purchase value
Item ID,Item Name,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
82,Nirvana,9,44.10
145,Fiery Glass Crusader,9,41.22
92,Final Critic,8,39.04
103,Singed Scalpel,8,34.80
59,"Lightning, Etcher of the King",8,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,31.77
78,"Glimmer, Ender of the Moon",7,30.80
72,Winter's Bite,8,30.16
60,Wolf,8,28.32
179,"Wolf, Promise of the Moonwalker",6,26.88
160,Azurewrath,6,26.40
25,Hero Cane,6,26.10
37,"Shadow Strike, Glory of Ending Hope",8,25.28
139,"Mercy, Katana of Dismay",5,24.70
128,"Blazeguard, Reach of Eternity",5,24.55
138,"Peacekeeper, Wit of Dark Magic",5,23.70
141,Persuasion,7,22.33
87,"Deluge, Edge of the West",5,22.15
159,"Oathbreaker, Spellblade of Trials",7,21.56
136,Ghastly Adamantite Protector,6,21.48
65,Conqueror Adamantite Mace,5,21.20
101,Final Critic,5,20.95
102,Avenger,6,20.64
133,Faith's Scimitar,5,20.45
39,"Betrayal, Whisper of Grieving Widows",5,19.70
111,Misery's End,4,19.56
165,Bone Crushing Silver Skewer,4,19.44
75,Brutality Ivory Warmace,8,19.36
52,Hatred,4,19.36
...,...,...,...
124,Venom Claymore,4,5.16
0,Splinter,4,5.12
155,War-Forged Gold Deflector,5,5.05
48,"Rage, Legacy of the Lone Victor",2,4.96
158,"Darkheart, Butcher of the Champion",2,4.90
51,Endbringer,1,4.66
134,Undead Crusader,1,4.50
30,Stormcaller,2,4.42
135,Warped Diamond Crusader,3,4.20
91,Celeste,1,4.17
177,"Winterthorn, Defender of Shifting Worlds",2,4.16
70,Hope's End,4,4.12
115,Spectral Diamond Doomblade,2,4.08
69,"Frenzy, Defender of the Harvest",2,3.96
47,"Alpha, Reach of Ending Hope",1,3.58
180,Stormcaller,1,3.36
27,"Riddle, Tribute of Ended Dreams",1,3.30
183,Dragon's Greatsword,3,3.27
31,Trickster,2,3.10
168,"Sun Strike, Jaws of Twisted Visions",2,2.96
90,Betrayer,1,2.94
33,Curved Axe,2,2.32
26,Unholy Wand,2,2.24
118,"Ghost Reaver, Longsword of Magic",1,2.17
28,"Flux, Destroyer of Due Diligence",2,2.12
125,Whistling Mithril Warblade,2,2.00
126,Exiled Mithril Longsword,1,2.00
23,Crucifer,1,1.99
104,Gladiator's Glaive,1,1.93
42,The Decapitator,1,1.75